
<div class="timeline">
	<%= render 'layouts/project_timeline' %>
</div>

<!--<% @projects.each do |project| %>
	<div class="project">
		<h2 class="project-title" id="airdev"><%= project.title %></h2>

		<%
		# format output for skills text
		@skills = ""
		count = 0
		length = project.skills.length
		project.skills.each do |skill|
			@skills << skill.name
			count += 1
			if count != length
				@skills << " | "
			end
		end
		%>
		<h3 class="project-skills">
			<%= @skills %>
		</h3>
		  
		<div class="center">
			<% project.fancybox_images.each do |image| %>
				<div style="display: inline-block;">
					<a class="fancybox" rel="<%= image.rel %>"
				title="<%= image.subtitle %>"
				href="<%= image.url %>">	
						<img class="small" id="<%= image.html_id %>"
						style="display: inline-block;"
						src="<%= image.thumbnail_url %>"
						alt="<%= image.alt_text %>">
					</a>
				</div>
			<% end %>
		</div>

		<div class="container center description">
			<h4 class="center" style="block"><%= project.period %></h4>

				<% project.details.each do |desc| %>
					<div class="seven columns center"><%= desc.name %></div>
				<% end %>

		</div> 

		<div class="more-info">
			<a>
				more info
			</a>
		</div> 
	</div>
<% end %>-->

<script type="text/javascript">
	$(document).ready(function() {
		$("a.fancybox").fancybox();
	});
</script>
<script type="text/javascript">
$(".more-info").on("click", function () {
    var x = $(this).siblings(".description");
    x.toggle();
    if (x.css('display') === "none") {
       $(this).find("a").text( "more info");
    } else {
       $(this).find("a").text( "less info");
    }
});
</script>