<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
<head>
  <%= render 'layouts/monologue/application/head' %>
</head>
<body>
  <div class="container">
    <header class="main-header sixteen columns clearfix">
      <h1 style="text-align: center;"><a style="text-decoration: none;" href="/"><%=Monologue::Config.site_name%></a></h1>
      <h2><%=Monologue::Config.site_subtitle%></h2>

      <!-- custom navbar -->
      <%= render "layouts/monologue/application/navbar" %>

      <%= render partial: "layouts/monologue/application/social_icons" %>
    </header>

    <div class="content twelve columns">
      <% flash.each do |name, msg| %>
        <div class="flash-notice">
          <%= msg %>
        </div>
      <% end %>

      <%= yield %>
    </div>

      <%= render 'layouts/monologue/application/sidebar' %>
  </div>
  <% if content_for?(:footer) %>
    <footer>
      <%= yield :footer %>
      <p>&copy 2018 chris anderson</p>
    </footer>
  <% else %>
    <div class="container">
      <footer>
        <p>&copy 2018 chris anderson</p>
      </footer>
    </div>
  <% end %>
  <%= render 'layouts/monologue/application/disqus' %>
  <%= render 'layouts/monologue/application/gauge_analytics' %>
</body>
</html>
