<title><%=Monologue::Config.site_name%></title>
<meta charset="utf-8" />
<%= render "layouts/monologue/application/meta_description" %>

<meta name="keyword" content="<%=Monologue::Config.meta_keyword%>">

<meta http-equiv="content-type" content="text/html;charset=utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

<%= stylesheet_link_tag    "monologue/blog/application" %>
<%= javascript_include_tag "monologue/blog/application" %>


<%= render "layouts/fancybox_head" %>
<%= render "layouts/tooltip_head" %>
<%= render "layouts/google_maps" %>

<!-- <script src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>-->
 <style>
	#googlemaps {
	    height: 100%;
	    width: 100%;
	    position:absolute;
	    top: 0;
	    left: 0;
	    z-index: 99999;
	    opacity: .75;
	}
</style>


<!-- Mobile Specific Metas
================================================== -->
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

<%= rss_head_link %>
<%= render "layouts/monologue/application/google_analytics" %>