<h2>Projects</h2>
<ul id='timeline'>
  <% @projects.each_with_index do |project, index| %>
  <li class='work'>
      <input class='radio' id='work<%= index %>' name='works' type='radio' <%= if index == 0 then "checked" end %>>
      <div class="relative">
        <label for='work<%= index %>'><%= project.title %></label>
        <span class='date'><%= project.period %></span>
        <span class='circle'></span>
      </div>
      <div class='content'>
        <h3><%= project.title %></h3>
        <p class="skills">
          <%
      # format output for skills text
      @skills = ""
      count = 0
      length = project.skills.length
      project.skills.each do |skill|
        @skills << skill.name
        count += 1
        if count != length
          @skills << " | "
        end
      end
      %>
      
        <%= @skills %> 
        
        </p>

        <div class="center fancy_img">
          <% project.fancybox_images.each_with_index do |image, im_index| %>
            <div style="display: inline-block;">
              <a class="fancybox" rel="<%= image.rel %>"
              title="<%= image.subtitle %>"
              href="<%= image.url %>"
              <%= if im_index != 0 then "style=display:none; " end %>
              >
                <%= image_tag image.thumbnail_url, 
                alt: image.alt_text, 
                id: image.html_id,
                style: "display: inline-block", 
                class: "small",
                lazy: true %>
              </a>
            </div>
          <% end %>
        </div>
          <%= content_tag(:span, fa_icon( "image", style: "z-index: 100; position: relative; height: 0px; left: 50%; top: -55px; font-size: 24px;")) %>
        <ul>
          <% project.details.each do |desc| %>
            <li><%= desc.name %></li>
          <% end %>
        </ul>
      </div>

      
    </li>
  <% end %>
</ul>