<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
	<head>
		<title><%= full_title(yield(:title)) %></title>
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
		<link href='https://fonts.googleapis.com/css?family=Montserrat:700,400' rel='stylesheet' type='text/css'>
		<%= stylesheet_link_tag    "monologue/blog/application" %>
		<%= javascript_include_tag "monologue/blog/application" %>

		<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
		<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
		<%= javascript_include_tag 'prefixfree', 'data-turbolinks-track' => true %>

		<% if current_page?(root_path) %>
			<%= stylesheet_link_tag    'timeline', media: 'all', 'data-turbolinks-track' => true %>
			<%= javascript_include_tag 'jquery_lazyload', 'data-turbolinks-track' => true %>
		<% end %>
	  
		<%= csrf_meta_tags %>
	</head>
	<body>

		<% if current_page?(root_path) %>
			<%= render "layouts/svg_text" %>
		<% end %>

		<div class="container main">


	   		<%= render 'layouts/header' %>

				<%= yield %>

			<%= render 'layouts/footer' %>
		</div>
	</body>
</html>